{% load static %}

<link rel="stylesheet" type='text/css' href="{% static 'polls/style.css' %}">

<h1>Very Fly 90s site</h1>
<p>test</p>

{% if latest_question_list %}
  <ul>
    {%for question in latest_question_list %}

    <!-- old way of doing it -->
    <!-- <li><a href="{ url 'detail' question.id %}">{{ question.question_text }}</a></li> -->

    <!-- refrences new app_name variable in polls/urls.py -->
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>


    {% endfor %}
  </ul>
  {% else %}
  <p>No polls are available.</p>
{% endif %}
