{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="{% static 'bootstrap/test.css' %}" type='text/css'>

<header role="banner">
  <img id="logo-main" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png" width="200" alt="some artsy image here">
<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
      <ul class="nav navbar-nav">

        <li><a class="nav-link" href="{% url 'tasks:homepage' %}">Home</a></li>

        <li><a class="nav-link" href="{% url 'polls:index' %}">Polls</a></li>

        <li><a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a></li>

        {% if user.is_authenticated %}

        <li><a class="nav-link" href="{% url 'tasks:currenttodos' %}">Tasks</a></li>

        <li class="nav-item">
          <form action="{% url 'tasks:logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit" >Logout</button>
          </form>

        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks:signupuser' %}">Sign Up</a>
        </li>

        <li  class="nav-item" id="want-left">
          <a class="nav-link" href="{% url 'tasks:loginuser' %}">Login</a>
        </li>

        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header><!-- header role="banner" -->



{% block content %}{% endblock %}
