{% extends 'tasks/base.html' %}

{% block content%}

<h1>Completed Todo Items</h1>

<ul>
  {% for todo in todos %}

  <!--  makes item bold if incomplete -->
  <li>
    <a href="{% url 'viewtodos' todo.id %}">
    {% if todo.important %}<b>{% endif %}{{todo.task_name}}{% if todo.important %}</b>{% endif %}
    <!-- if a memo exists show a little bit of it -->
    {% if todo.memo %} - {{ todo.memo }}{% endif %}</a>
     - completed {{ todo.date_completed|date:'M d, Y'}}

  </li>
  {% endfor %}
</ul>


{% endblock %}
