{% extends 'tasks/base.html' %}

{% block content %}

<h1>My Todo List</h1>

<ul>
  {% for todo in todos %}

  <!--  makes item bold if incomplete -->
  <li>
    <a href="{% url 'tasks:viewtodos' todo.id %}">
    {% if todo.important %}<b>{% endif %}{{todo.task_name}}{% if todo.important %}</b>{% endif %}
    <!-- if a memo exists show a little bit of it -->
    {% if todo.memo %} - {{ todo.memo }} {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}

Logged in as {{ user.username }}
<br>
<a href="{% url 'tasks:createtodo' %}">create todo items</a>
<br>
<a href="{% url 'tasks:completedtodos' %}">completed todo items</a>
<br>
<a href="{% url 'tasks:currenttodos' %}">current todo items</a>
<br>


<form action="{% url 'tasks:logoutuser' %}" method="POST">
  {% csrf_token %}
  <button type="submit" >Logout</button>
</form>

{% else %}

<a href="{% url 'tasks:signupuser' %}">Sign Up</a>
<br>
<a href="{% url 'tasks:loginuser' %}">Login</a>

{% endif %}

{% endblock %}
